.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b7dbff;
  height: 100vh;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 500;


  & input, textarea, button {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 15px;
  }
}

